{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="border border-5 rounded h-100 p-5 bg-light">

    <form action="{% url 'create_user' %}" method="POST">
        {% csrf_token %}

        <div class="text-danger" style="font-family: system-ui; font-weight: 900;">{{ form.non_field_errors }}</div>
        {{ form.as_p }}

        <button class="btn btn-secondary" type="submit">Создать</button>
    </form>
</div>
<style>
    .errorlist
        {
            color: red;
            font-size: xx-large;
        }
</style>
{% endblock %}